body{
    margin: 0px;
    padding: 0px;
    background-color: dimgrey;
    color: rgb(174, 217, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

header{
    background-color:rgb(2, 2, 65);
    text-align: center;
    padding: 30 px;
    padding-bottom: 20px;
    margin: 10 px;
    display: flex;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    border-style: groove;
    background-color: rgba(0, 97, 97, 0.507);
}

.flex-title{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: large; 
    background-color: rgb(0, 65, 65);
}
.flex-column{
    padding: 10px;
    margin: 10px auto;
    max-width: 400px;
    text-align: center;
    background-color: rgb(0, 65, 65);
    border-radius: 30px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px ;
}



.img-decorative{
    width: 90%;
    padding-bottom: 5px;
}
.flex-column a{
    background-color: rgb(174, 217, 255);
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    border: 2px;
    text-decoration: none;
    color:rgb(2, 2, 167);
    text-align: center;
}
.flex-column a:hover{
    background-color: cadetblue;
    padding:4px;
}


nav a{
    background-color: rgb(174, 217, 255);
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    text-decoration: none;
    color:rgb(2, 2, 167);
}

nav a:hover{
    background-color: cadetblue;
    padding: 4px;
}

.section{
    text-align:left;
    background-color: darkgrey;
    color: rgb(1, 1, 177);
}

.section_content{

}