body{
    margin: 0px;
    padding: 0px;
    background-color: dimgrey;
    color: rgb(174, 217, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

header{
    background-color:rgb(2, 2, 65);
    text-align: center;
    padding: 30 px;
    padding-bottom: 20px;
    margin: 10 px;
}

nav a{
    background-color: rgb(174, 217, 255);
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    text-decoration: none;
    color:rgb(2, 2, 167);
}

nav a:hover{
    background-color: cadetblue;
    padding: 4px;
}

.section{
    text-align:left;
    background-color: darkgrey;
    color: rgb(1, 1, 177);
}

.section_content{

}